/* Header.css */
.header {
    background-color: #92eea3;
    color: #fff;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .logo a:hover {
    text-decoration: underline;
  }
  
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav ul li a:hover {
    text-decoration: underline;
  }
  